body {
  background-color: #bad8b6;
  font-family:'Roboto',sans-serif;
}

h1 {
  color: #334257;
  text-align: center;
}

#container {
  margin: 40px auto 0 auto;
  width: min-content;
  display: flex;
}

#results {
  width: 500px;
  margin: 20px auto 20px auto;
  background-color: white;
  color: #548ca8;
  font-size: 25px;
  border-radius: 25px;
  border: 5px solid #73AD21;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.img {
  display: block;
  width: 75%;
  height: 75%;
  margin: auto;
}

.btn {
  border-radius: 12px;
  background-color: #73ad21;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 20px;
  transition-duration: 0.4s;
  width: 200px;
}

.btn:hover {
  background-color: white;
  color: #73AD21;
  cursor: pointer;
}

.item {
  width: 30vw;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
